<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="PublishITServiceTests.Properties.Settings.RentIt09ConnectionString" connectionString="Data Source=rentit.itu.dk;Initial Catalog=RentIt09;Persist Security Info=True;User ID=RentIt09Db;Password=ZAQ12wsx;MultipleActiveResultSets=True;Network Library=dbmssocn;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PublishITServiceTests.Properties.Settings.RentIt09TestConnectionString" connectionString="Data Source=rentit.itu.dk;Initial Catalog=RentIt09Test;Persist Security Info=True;User ID=RentIt09Db;Password=ZAQ12wsx;Network Library=dbmssocn" providerName="System.Data.SqlClient" />
  <add name="RentIt09TestEntities" connectionString="metadata=res://*/PublishITTestModel.csdl|res://*/PublishITTestModel.ssdl|res://*/PublishITTestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rentit.itu.dk;initial catalog=RentIt09Test;persist security info=True;user id=RentIt09Db;password=ZAQ12wsx;network library=dbmssocn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>